@import "../../theme/variables.scss";

.visitor {
  color: #0d6efd;
}

.banner-header {
  height: 60px;
  background-color: #0d6efd;
  color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.cards-container {
  height: 160px;
  width: 300px;
  min-width: 300px;
  margin: 5px;
  border-radius: 7px;
  font-size: 28px;
}

.age {
  text-align: right;
  margin-right: 10px;
}

ion-select-popover {
  --width: 500px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

// ion-item.custom {
//   max-width: 320px;
// }

ion-item::part(native) {
  height: 30px !important;
}

ion-row {
  max-height: 55px !important;
}

form {
  max-width: 80%;
  margin: 0 auto;
}

ion-spinner {
  transform: scale(3);
}

.patient-name,
.age {
  font-size: 42px;
}

.action-sheet-cancel {
  --background: red !important;
  --color: white !important;
}

ion-input {
  font-size: 24px;
}

.resultContainer {
  display: block;
  overflow: scroll;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 300px;
  width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  z-index: 9999999;
  box-shadow: 1px 1px 10px 5px rgba(82, 82, 82, 0.75);
  -webkit-box-shadow: 1px 1px 10px 5px rgba(82, 82, 82, 0.75);
  -moz-box-shadow: 1px 1px 10px 5px rgba(82, 82, 82, 0.75);
}

.resultContainer.hidden {
  display: none !important;
}

.resultContainer ion-radio {
  font-size: 28px;
}

.disabled {
  pointer-events: none;
  color: #c2c2c2;
}

.classButton{
  width: 45% !important; 
  height: 90px;
  color: #fff !important;
}

.rowButton{
  margin-top: 0px;
}

//dimension de tablet grande
// 1920 * 1056

// dimension tablet pequeña
// 1334 * 728

@media only screen and (min-width: 1334px) and (max-width: 1500px) and (min-height: 728px) and (max-height: 761px){
  .cards-container {
    height: 75px;
    width: 195px;
    min-width: 195px;
    margin: 5px;
    border-radius: 7px;
    font-size: 22px;
  }

  .banner-header {
    height: 40px;
    background-color: #0d6efd;
    color: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .patient-name,
    .age {
      font-size: 30px;
    }

    ion-row {
      max-height: 50px !important;
    }

    .classButton{
      width: 45% !important; 
      height: 70px;
      color: #fff !important;
      min-height: 40px !important;
    }   

    h4{
      font-size: 1.3rem;
    }

    .rowButton{
      margin-top: -10px !important;
    }


}

@media only screen and (min-width: 1280px) and (max-width: 1333px) and (max-height: 800px) {
  .cards-container {
    height: 95px;
    width: 195px;
    min-width: 195px;
    margin: 5px;
    border-radius: 7px;
    font-size: 22px;
  }

  .banner-header {
    height: 50px;
    background-color: #0d6efd;
    color: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .patient-name,
    .age {
      font-size: 30px;
    }

    ion-row {
      max-height: 47px !important;
    }

    .classButton{
      width: 45% !important; 
      height: 70px;
      color: #fff !important;
      min-height: 40px !important;
    }

    h4{
      font-size: 1.3rem;
    }

    .rowButton{
      margin-top: 35px !important;
    }

    .paddingProcedure{
      padding-left: 285px !important;
    }


}

@media only screen and (min-width: 1920px) and (max-height: 1056px) {

  .widthProcedure{
    width: 260% !important;
  }

  .paddingProcedure{
    padding-left: 415px !important;
  }

  .rowButton{
    margin-top: 125px !important;
  }

}

.widthProcedure{
  width: 280%;
}

.paddingProcedure{
  padding-left: 295px;
}

.native-wrapper, .bigger-text {
  font-size: 22px !important;
}


.char-counter {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

/* loading */
.loader {
  position: relative;
  width: 164px;
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Para que los elementos hijos se alineen verticalmente */
}

.loader::before , .loader::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  animation: rotate 1s ease-in infinite;
  transform: translate(-50%, -50%);
}

.loader::after {
  width: 20px;
  height: 20px;
  background-color: #0093ff;
  animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite;
}

h6 {
  color: white; /* Asegura que el texto sea visible */
  margin-top: 20px; /* Ajusta el margen superior para dar espacio entre el spinner y el texto */
  text-align: center;
  font-size: 25px;
}

/* Keyframes para las animaciones */
@keyframes moveY {
  0%, 100% { top: 10%; }
  45%, 55% { top: 59%; }
  60% { top: 40%; }
}

@keyframes rotate {
  0% { transform: translate(-50%, -100%) rotate(0deg) scale(1, 1); }
  25% { transform: translate(-50%, 0%) rotate(180deg) scale(1, 1); }
  45%, 55% { transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5); }
  60% { transform: translate(-50%, 100%) rotate(180deg) scale(1, 1); }
  75% { transform: translate(-50%, 0%) rotate(270deg) scale(1, 1); }
  100% { transform: translate(-50%, -100%) rotate(360deg) scale(1, 1); }
}

/* Overlay */
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  z-index: 9999;
  flex-direction: column; /* Asegura que el contenido esté alineado en columna */
}

/* fin loading */