<ion-content [fullscreen]="true">
  <div *ngIf="!this.loading && !isInitializing" class="d-flex align-items-center flex-column justify-content-between" style="height: 100%;">
    <div>
      <img class="logo" src="assets/logos/StatusBoard_Black.png" alt="logo" style="margin-top: 15px;" />
      <div style="position: absolute; top: 15px; left: 15px; text-align: center;">
        <img *ngIf="this.image_url !== '' " [src]="this.image_url" width="200px" />
        <h5 *ngIf="this.branch_name !== '' " class="info">{{this.branch_name}}</h5>
        <h5 *ngIf="this.waitingRoom_name !== '' " class="info">{{this.waitingRoom_name}}</h5>
      </div>
      <div style="position: absolute; top: 15px; right: 15px; text-align: center;">
        <div class="my-3">
          <span [ngClass]="{'online' : networkStatus === 'ONLINE', 'offline' : networkStatus === 'OFFLINE'}">
            <b>{{networkStatus === 'ONLINE' ? ('pin.online' | translate) : ('pin.offline' | translate)}}</b>
          </span>
          <br/>
          <b>{{ 'pin.lastUpdate' | translate }} </b><br><span>{{lastsync}}</span>
        </div>
      </div>
    </div>
    <div class="whitNumbers">

      <div class="text-center">
        <h1><b>{{loading ? ('pin.loading' | translate) : ('pin.welcome' | translate)}}</b></h1>
        <h5>{{loading ? ('pin.tryingLogin' | translate) : ('pin.enterAccessCode' | translate)}}</h5>
      </div>

      <ion-grid>
        <div class="text-center" *ngIf="!loading">
          <ion-icon size="large" [name]="pin.length>0 ? 'radio-button-on-outline' : 'radio-button-off-outline'"></ion-icon>
          <ion-icon size="large" [name]="pin.length>1 ? 'radio-button-on-outline' : 'radio-button-off-outline'"></ion-icon>
          <ion-icon size="large" [name]="pin.length>2 ? 'radio-button-on-outline' : 'radio-button-off-outline'"></ion-icon>
          <ion-icon size="large" [name]="pin.length>3 ? 'radio-button-on-outline' : 'radio-button-off-outline'"></ion-icon>
          <ion-icon size="large" [name]="pin.length>4 ? 'radio-button-on-outline' : 'radio-button-off-outline'"></ion-icon>
          <ion-icon size="large" [name]="pin.length>5 ? 'radio-button-on-outline' : 'radio-button-off-outline'"></ion-icon>
        </div>
        <div class="text-center" *ngIf="loading">
          <ion-spinner class="dot" color="dark"></ion-spinner>
          <ion-spinner class="dot" color="dark"></ion-spinner>
          <ion-spinner class="dot" color="dark"></ion-spinner>
          <ion-spinner class="dot" color="dark"></ion-spinner>
          <ion-spinner class="dot" color="dark"></ion-spinner>
          <ion-spinner class="dot" color="dark"></ion-spinner>
        </div>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('1')">1</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('2')">2</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('3')">3</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('4')">4</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('5')">5</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('6')">6</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('7')">7</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('8')">8</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('9')">9</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="backspace-outline" size="large" (click)="handleInput('clear')"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-button [disabled]="loading" class="number" shape="round" (click)="handleInput('0')">0</ion-button>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div style="margin-bottom: 15px;">
      <!-- <img class="logo" src="assets/logos/DTouchmedia_Black.png" alt="logo" /> -->
    </div>


    <div *ngIf="this.branch_name !== 'Activación de Dispositivo'" style="position: absolute; bottom: 5px; left: 15px; width: 10%;">
      <ion-button [disabled]="loading" class="w-100 classButton" color="danger" (click)="presentAlert()">Setting</ion-button>
    </div>




    <div class="pin-footer-actions">
      <button
        type="button"
        class="pin-update-button"
        (click)="checkForUpdatesManually()"
        [disabled]="loading || isCheckingForUpdates"
        aria-label="Check for updates"
      >
        <ion-icon [name]="isCheckingForUpdates ? 'hourglass-outline' : 'cloud-download-outline'"></ion-icon>
      </button>
      <h6 class="info pin-version-label">{{ 'pin.version' | translate }} {{version}}</h6>
      <h6 class="info pin-version-label">{{this.deviceInfo.device_id}}</h6>
    </div>
  </div>


  <div class="loading-overlay" *ngIf="this.loading">
    <div class="loading-content">
      <img *ngIf="isInitializing" src="assets/splash.png" alt="Splash" class="startup-splash" />
      <ng-container *ngIf="!isInitializing">
        <div class="loading-spinner"></div>
        <div class="loading-text">{{this.image_url ? ('pin.verifyingCredentials' | translate) : ('pin.preparingExperience' | translate)}}</div>
        <div class="loading-subtext">{{ 'pin.pleaseWait' | translate }}</div>
      </ng-container>
    </div>
  </div>


</ion-content>
