<ion-content [fullscreen]="true" class="turnboard-newpatient-content">
  <div class="text-center banner-header">
    <ion-icon name="add-outline" style="font-size: 32px;"></ion-icon> {{ 'newPatient.title' | translate }}
  </div>
  <form [formGroup]="form" class="my-5 new-patient-form">
      <ion-input #fullName [disabled]="loading" tabindex="1" [label]="'newPatient.fullName' | translate" formControlName="fullName" label-placement="floating"
        fill="outline" [errorText]="'newPatient.fullNameRequired' | translate" [maxlength]="50"></ion-input>
      <div class="d-flex form-row">
        <div class="flex-fill age-field-wrap">
          <ion-input [disabled]="loading" tabindex="2" [min]="1" [max]="120" [maxlength]="120" [label]="'newPatient.age' | translate" formControlName="age" label-placement="floating" fill="outline"
            [errorText]="'newPatient.ageRequired' | translate" type="number"></ion-input>
        </div>
        <div class="flex-fill radio-buttons">
          <ion-radio-group formControlName="gender" tabindex="3" [disabled]="loading">
            <ion-radio class="m-1" label-placement="fixed" [value]="'feminine'" aria-label="Gender">{{ 'newPatient.feminine' | translate }}</ion-radio>&nbsp;&nbsp;
            <ion-radio class="m-1" label-placement="fixed" [value]="'masculine'" aria-label="Gender">{{ 'newPatient.masculine' | translate }}</ion-radio>
          </ion-radio-group>
        </div>
      </div>

      <div class="d-flex form-row">
        <div class="flex-fill with-right-gap">
          <ion-input tabindex="4" [disabled]="loading" [label]="'newPatient.familyFullName' | translate" formControlName="companion_name" label-placement="floating" fill="outline" [errorText]="'newPatient.familyFullNameRequired' | translate" [maxlength]="50"></ion-input>
        </div>
        <div class="flex-fill">
          <ion-input tabindex="5" [disabled]="loading" [label]="'newPatient.familyPhone' | translate" type="tel" formControlName="phone" label-placement="floating" fill="outline" [errorText]="'newPatient.familyPhoneRequired' | translate" [maxlength]="13"></ion-input>
        </div>
      </div>


      <div class="d-flex form-row form-actions-row">
        <div class="flex-fill with-large-right-gap">
          <ion-button [disabled]="loading" class="w-100 classButton" color="danger" (click)="cancel()">{{ 'newPatient.cancel' | translate }}</ion-button>
        </div>

        <div class="flex-fill">
          <!-- <ion-button [disabled]="loading" class="w-100 classButton" color="success" (click)="createPatient()"
            [disabled]="form.invalid" style="color: white !important;">Create</ion-button> -->

            <ion-button [disabled]="loading" color="success" class="w-100 classButton" (click)="createPatient()">
              <span style="color: white;">{{ 'newPatient.create' | translate }}</span>
            </ion-button>

        </div>
      </div>

  </form>

  <div class="loading-overlay" *ngIf="this.loading">
    <div class="loading-content">
      <div class="loading-spinner"></div>
      <div class="loading-text">{{this.creating ? ('newPatient.creatingPatient' | translate) : ('newPatient.loadingPatient' | translate)}}</div>
      <div class="loading-subtext">{{ 'newPatient.pleaseWait' | translate }}</div>
    </div>
  </div>


</ion-content>
