<ion-row class="portal-table-row">
  <ion-col size="12">
    <div class="portal-table-shell">
    <table class="portal-table">
      <thead>
        <tr>
          <th class="col-id">{{ 'dashboard.id' | translate }}</th>
          <th class="col-patient">{{ 'dashboard.patient' | translate }}</th>
          <th class="col-age">{{ 'dashboard.age' | translate }}</th>
          <th class="col-operating-room">{{ 'dashboard.oRoom' | translate }}</th>
          <th class="col-surgeon">{{ 'dashboard.surgeon' | translate }}</th>
          <th class="col-procedure">{{ 'dashboard.procedure' | translate }}</th>
          <th class="col-time">{{ 'dashboard.time' | translate }}</th>
          <th class="col-status">{{ 'dashboard.status' | translate }}</th>
          <th class="col-room">{{ 'dashboard.room' | translate }}</th>
          <th class="col-phone"></th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let patient of getPatientsForCurrentPage()">
          <tr [ngClass]="{ 'highlight-updated': isPatientUpdated(patient.id) }">
            <td class="textCardPatients text-ellipsis">{{ patient.identifier }}</td>
            <td class="textCardPatients text-ellipsis">
              <strong>{{ getPatientDisplayName(patient) | uppercase }}</strong>
            </td>
            <td class="textCardPatients text-ellipsis">{{ patient.age }}{{ patient.age ? getAgeSuffix() : '' }}</td>
            <td class="textCardPatients text-ellipsis">{{ patient.operating_room_name }}</td>
            <td class="textCardPatients text-ellipsis">
              <span class="badge" *ngIf="patient.surgeon_color" [ngStyle]="{ 'background-color': patient.surgeon_color }">{{ patient.surgeon_name }}</span>
              <!-- no se esta aplicando el color -->
              <span *ngIf="!patient.surgeon_color">{{ patient.surgeon_name }}</span>
            </td>
            <td class="textCardPatients text-ellipsis">{{ patient.procedure_name }}</td>
            <td class="textCardPatients text-ellipsis">
              {{
                patient.procedure_time
                  ? (patient.procedure_time.split(':')[0] % 12 || 12) +
                    ':' +
                    patient.procedure_time.split(':')[1] +
                    (patient.procedure_time.split(':')[0] >= 12 ? ' PM' : ' AM')
                  : ''
              }}
            </td>
            <td
              class="textCardPatients text-ellipsis"
              [ngClass]="{
                surgery: patient.status?.type === 'surgery',
                holding: patient.status?.type === 'holding',
                nextSurgery: patient.status?.type === 'next_to_surgery',
                canceled: patient.visit_canceled_at
              }">
              {{ patient.status_name === 'Cancelado' ? patient.status_name : patient.status?.name }}
            </td>
            <td class="textCardPatients text-ellipsis">{{ patient.recovery_room }}</td>
            <td>
              <div class="icon-container portal-table-icon-cell" *ngIf="!patient.phone_national_format">
                <img src="assets/icon/Phone.png" class="portal-table-phone" />
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
  </ion-col>
</ion-row>
