ion-content {
    --background: #f0f0f0;
  }
  
  .status-overview {
    text-align: right;
  }
  
  .info-box {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .sala ul {
    padding-left: 20px;
  }
  
  h2 {
    color: #007bff;
    margin-bottom: 5px;
  }
  
  p {
    color: #555;
  }
  
  ul li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .info-box {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
  }
  
  .info-box p {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }
  
  .info-box h3 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }
  
  .status-summary {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .patients-today-row {
    justify-content: center; /* Centrará el contenido horizontalmente */
    align-items: center; /* Centrará verticalmente si es necesario */
  }
  
  .patients-today {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .today-box {
    background-color: #7ed956;
    padding: 0;
    border-radius: 10px;
    width: 100%; /* Ajusta el ancho del cuadro */
    max-width: 200px; /* Puedes ajustar este valor si deseas limitar el tamaño del cuadro */
    margin: 0 auto; /* Centra el cuadro dentro del ion-col */
    color: white;
  }
  
  .status-box {
    margin-bottom: 10px;
  }
  
  .holding-box, .surgery-box, .recovery-box, .completed-box {
    background-color: white;
    border: 2px solid #a6d1f0;
    padding: 0px;
    border-radius: 8px;
  }
  
  .holding-box h2, .surgery-box h2, .recovery-box h2, .completed-box h2 {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
  }
  
  .holding-box p, .surgery-box p, .recovery-box p, .completed-box p {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
  }

  .room-card {
    background-color: white;
    border: 2px solid #d0e8f2; /* Cambiar el color del borde */
    border-radius: 8px;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .room-name h3 {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 6px;
  }
  
  .room-card-details div {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  }
  
  .room-card-details a {
    font-weight: bold;
  }


  ion-card {
    min-height: auto;  /* Altura mínima para todas las tarjetas */
    max-height: auto;  /* Altura máxima para todas las tarjetas */
    overflow-y: auto;   /* Habilitar el scroll si hay más contenido */
  }


    .surgery{
      color: red;
      font-weight: bold;
    }
    .nextSurgery{
      color: blue;
      font-weight: bold;
    }
