<ion-content>
  <ion-grid>
    <!-- Información general en la parte superior derecha -->
    <ion-row class="status-overview" style="overflow-y: scroll; height: 92vh; padding-bottom: 1px;">

      <ion-col size="10" size-md="10" size-lg="10" style="padding-left: 0; padding-right: 0; padding-top: 0;">
        <ion-grid style="padding-left: 0; padding-right: 0; padding-top: 0;">
          <ion-row *ngIf="this.operatingRooms">
            <ion-col size="10" size-md="9" size-lg="6" *ngFor="let room of getRoomsForCurrentPagewhitpatients(); let i = index">  
              <ion-card class="ionCard">
                <ion-card-header class="ionCardHeader">
                  <ion-card-title>
                    <ion-row>
                      <ion-col size="4" size-md="4" size-lg="4" class="tittleCardText">{{room.name}}</ion-col>
                      <ion-col *ngIf="this.totalGroups > 1" size="3" size-md="3" size-lg="3" class="tittleCardTextPages"><span *ngIf="this.roomsWithPatients[i].totalpage > 1">Page: {{this.roomsWithPatients[i].actualPage}}/{{this.roomsWithPatients[i].totalpage}}</span></ion-col>
                      <ion-col *ngIf="this.totalGroups < 1" size="3" size-md="3" size-lg="3" class="tittleCardTextPages"></ion-col>
                      <ion-col size="5" size-md="5" size-lg="5" class="tittleCardTextNumber" style="text-align: end !important;">
                        {{room.name === "TO FOLLOW"? "": "Completed:"+ getCompletedRoomPatientsCount(room.name) +"/"+ getTotalPatientsInRoom(room.name)}}                        
                      </ion-col>            
                    </ion-row>
                  </ion-card-title>
                </ion-card-header>
                
                <ion-card-content>
                  <!-- Llama a la función en el archivo TS para filtrar los pacientes -->
                  <div *ngFor="let patient of getPatientsGroup(room.name)">
                    <ion-row style="height: 22px;">
                      <ion-col size="1" class="textCardPatients">{{patient.age}}y</ion-col>
                      <ion-col size="3" class="textCardPatients text-ellipsis" [ngClass]="{ 'surgery': patient.status.type === 'surgery', 'holding': patient.status.type === 'holding' }"><strong>{{patient.fullName}}</strong></ion-col>
                      <ion-col size="4" class="textCardPatients text-ellipsis" style="text-align: left !important;">{{patient.procedure_name}}</ion-col> 
                      <ion-col size="3" class="textCardPatients text-ellipsis" style="text-align: left !important;">{{patient.surgeon_name}}</ion-col> 
                      <ion-col size="1" class="textCardPatients text-ellipsis" style="text-align: center !important;">

                        <div class="icon-container"  *ngIf="!patient.phone_national_format">
                          <img src="assets/icon/Phone.png" style="width: 50%;">
                        </div>
                      
                      </ion-col> 
                    </ion-row>
                  </div>

                  <div *ngIf="getPatientsGroup(room.name).length === 0">
                    <p style="text-align: center;">No patients</p>
                  </div>
                  
                </ion-card-content>
              </ion-card>                 
            </ion-col> 
  
          </ion-row>

        </ion-grid>
      </ion-col>

      <ion-col size="2" size-md="2" size-lg="2" style="padding-left: 0; padding-top: 0;">
        <div class="info-box" style="height: fit-content; border: 2px solid #d0e8f2;">

          <ion-row>
            <ion-col class="patients-today" (click)="headerClicked()">
              <p class="dateTimeHeader">{{ currentDate | date: 'EEEE, d MMMM Y' : 'en' }}</p>
              <h2 class="dateTimeHeaderHour">{{ currentTime }}</h2>
            </ion-col>            
          </ion-row>

          <ion-row class="patients-today-row">
            <ion-col class="patients-today">
              <div class="today-box">
                <p style="color: white;">TODAY</p>
                <h1>{{ this.patients.length }}</h1>
                <p style="color: white;">PATIENTS</p>
              </div>
            </ion-col>
          </ion-row>

         
  
          <div style="padding-bottom: 10px;">
            <ion-row>
              <ion-col size="6" class="status-box">
                <div class="holding-box">
                  <p id="holding">HOLDING</p>
                  <h2>{{ this.getHoldingPatientsCount() }}</h2>
                </div>
              </ion-col>
              <ion-col size="6" class="status-box">
                <div class="surgery-box">
                  <p id="surgery">SURGERY</p>
                  <h2>{{ this.getSurgeryPatientsCount() }}</h2>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>          
              <ion-col size="6" class="status-box">
                <div class="recovery-box">
                  <p id="recovery">RECOVERY</p>
                  <h2>{{ this.getRecoveryPatientsCount() }}</h2>
                </div>
              </ion-col>
              <ion-col size="6" class="status-box">
                <div class="completed-box">
                  <p id="completed-box">COMPLETED</p>
                  <h2>{{ this.getCompletedPatientsCount() }}</h2>
                </div>
              </ion-col>
            </ion-row> 
          </div>
        </div>

        <ion-row *ngIf="this.operatingRooms">
          <ion-col size="12" *ngFor="let room of getRoomsForCurrentPage()" class="topCard" >
            <div class="room-card">
              <div class="room-name text-center">
                <h3>{{ room.name }}</h3>
              </div>
              <div class="room-card-details">
                <div *ngFor="let role of room.roles">
                  <div *ngIf="role.persons.length > 0">
                    <a style="font-weight: bold;">{{ role.code }}: </a><span>{{ getUserNames(role) }}</span>
                  </div>
                </div>
              </div>                 
            </div>
          </ion-col>                
        </ion-row>

      </ion-col>

      


    </ion-row>    
  </ion-grid>
  <ion-row style="align-items: center; padding-left: 5px; padding-top: 10px;">
    <!-- Online text with date -->
    <ion-col size="3" style="text-align: left;">
      <span class="onlineTittle">ONLINE:</span>
      <span class="textUnderLine" style="padding-left: 20px;">{{ this.lastsync }}</span>
    </ion-col>
  
    <!-- In Holding -->
    <ion-col size="2" style="display: flex; align-items: center;">
      <ion-icon name="ellipse" style="color: #48a347;" class="underline"></ion-icon>
      <span class="textUnderLine">IN HOLDING</span>
    </ion-col>
  
    <!-- In Surgery -->
    <ion-col size="2" style="display: flex; align-items: center;">
      <ion-icon name="ellipse" style="color: #eb4343;" class="underline"></ion-icon>
      <span class="textUnderLine">IN SURGERY</span>
    </ion-col>
  
    <!-- Next to Surgery -->
    <ion-col size="3" style="display: flex; align-items: center;">
      <ion-icon name="ellipse" style="color: #3e3dcc;" class="underline"></ion-icon>
      <span class="textUnderLine">NEXT to SURGERY</span>
    </ion-col>

    <ion-col size="1" style="display: flex; align-items: center;">
      <span class="textUnderLine">PAGE: {{this.currentPageWithPatients}}/{{this.totalPagesWithPatients}}</span>
    </ion-col>

    <ion-col *ngIf="this.totalPagesWithPatients > 1" size="1" style="display: flex; align-items: center;">
      <span class="textUnderLine">TIMER: {{this.countdown}}</span>
    </ion-col>

  </ion-row>
</ion-content>

