<ion-content [fullscreen]="true" slot="fixed" id="update-container">
  <div style="height: 45px; font-size: 30px;" class="text-center w-100">
    {{ 'editRoom.operatingRoom' | translate }}
  </div>
  <div class="banner-header mx-3 px-2" [style]="{'background-color': room.color ?? '#007AFF'}">
    <div class="d-flex justify-content-between align-items-center w-100" [dynamicTextColor]="room.color">
      <div ngx-colors-trigger [hideTextInput]="true" [(ngModel)]="room.color">
        <ion-icon name="color-palette"></ion-icon>
      </div>
      <div>{{room.name}}</div>

      <!-- <div>{{room.surg? room.surg : this.surgeon.full_name}}</div> -->
    </div>
  </div>
  <ion-grid>
    <!-- Operating Room and Visitor Companion -->
    <ion-row>
      <ion-col class="font-size">
        {{ 'editRoom.patientAssigned' | translate }}
      </ion-col>
      <ion-col class="font-size">
        {{ 'editRoom.patientAvailable' | translate }}
      </ion-col>
      <ion-col class="font-size ion-text-right" style="display: flex; justify-content: space-between; align-items: center;">
        {{ 'editRoom.teamWork' | translate }}
        <button ion-button (click)="openAssignMemberModal()" style="margin-left: auto;">{{ 'editRoom.addMemberButton' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <!-- Operating Room and Visitor Companion -->
    <ion-row>


      <ion-col class="columnAvailable">
        <div class="container-scroll objColumn">
          <div *ngFor="let patient of assignedPatients; let i = index" class="d-flex justify-content-between align-items-center w-100">
            <div class="fs-22 d-inline-flex">
              <div class="mx-2 age">{{patient.age ?? '0'}}{{ 'editRoom.years' | translate }}</div>
              <div class="mx-2 namePatient">{{patient.fullName}}</div>
              <!-- <div class="mx-2">{{patient.procedure_name ?? 'Procedure'}}</div> -->
            </div>
            <div class="mx-2" (click)="moveToAvailable(i)">
              <ion-icon style="color: red; font-size: 35px;" name="close-circle-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col class="columnAvailable">
        <div class="container-scroll objColumn">
          <div *ngFor="let patient of availablePatients; let i = index" class="d-flex justify-content-between align-items-center w-100 font-size-l">
            <div class="fs-22 d-inline-flex">
              <div class="mx-2 age">{{patient.age ?? '0'}}{{ 'editRoom.years' | translate }}</div>
              <div class="mx-2 namePatient">{{patient.fullName}}</div>
              <!-- <div class="mx-2">{{patient.procedure_name ?? 'Procedure'}}</div> -->
            </div>
            <div (click)="moveToAssigned(i)" class="align-items-center">
              <ion-icon style="color: green; font-size: 35px;" name="add-circle-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>



      <ion-col style="display: flex; flex-direction: column; min-width: 20%;">

        <div class="container">
          <ion-grid>
            <form [formGroup]="roleForm" *ngIf="this.allUsers">
              <ion-row formArrayName="roles">
                <ng-container *ngFor="let role of roles.controls; let i = index">
                  <ion-row [formGroupName]="i" class="room-card-row prueba fs-22" style="align-items: center; margin-bottom: 0px;">

                    <!-- Selector de rol con ancho fijo -->
                    <ion-col size="2">
                      <select formControlName="roleType" class="heightFild" (change)="onRoleChange(i)" style="width: 100%; min-width: 100px;">
                        <option value="" disabled selected>{{ 'editRoom.selectRole' | translate }}</option>
                        <option *ngFor="let user of allUsers" [value]="user.code">{{ user.code }}</option>
                      </select>
                    </ion-col>

                    <!-- Selector de usuario filtrado con ancho fijo -->
                    <ion-col size="8" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-left: 8%;">
                      <select formControlName="selectedUser" class="selectedUserDropdown heightFild">
                        <option value="" disabled selected>{{ 'editRoom.selectUser' | translate }}</option>
                        <option *ngFor="let person of filteredUsers[i]" [value]="person.id">{{ person.full_name }}</option>
                      </select>
                    </ion-col>

                    <!-- Ícono para eliminar con tamaño fijo -->
                    <ion-col size="1" class="ion-text-center">
                      <ion-icon (click)="removeRole(i)" name="trash" style="color: red; cursor: pointer; font-size: 1.5em;"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ng-container>
              </ion-row>
            </form>
          </ion-grid>
        </div>

        <!-- Botón para agregar más roles debajo del listado -->
        <div class="d-flex justify-content-center" style="margin: 10px 0;">
          <button ion-button (click)="addRole()" style="background-color: #007AFF; color: white; border-radius: 50%; width: 50px; height: 50px; font-size: 30px; display: flex; align-items: center; justify-content: center; border: none; cursor: pointer;">+</button>
        </div>

        <!-- Botones alineados en la parte inferior -->
        <div class="d-flex justify-content-center" style="margin-top: auto;">
          <ion-button color="danger" [disabled]="loading" class="mx-4" size="large" style="width: 200px; height: 40px;" (click)="cancel()">
            <span style="color: #fff;">{{ 'editRoom.cancelButton' | translate }}</span>
          </ion-button>
          <ion-button color="success" class="mx-4" [disabled]="loading" size="large" style="width: 200px; height: 40px;" (click)="update()">
            <span style="color: #fff;">{{ 'editRoom.updateButton' | translate }}</span>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="overlay" style="margin-top: 10px;" *ngIf="this.loading">
    <div class="loader">
       <div class="spinner spinner-bubble spinner-bubble-primary me-3"></div>
    </div>
    <!-- <h6>{{this.image_url ? 'Verifying your credentials...' : 'Preparing your experience...'}}</h6> -->
  </div>

</ion-content>

