<ion-content>
  <ion-row>
    <ion-col>
      <div class="w-100" *ngIf="type !== 'next_to_surgery'">
        <ion-item>
          <!-- <ion-input placeholder="Type here..." aria-label="Search" #searchInput (input)="onInputChange()"
            (keyup.enter)="update()"></ion-input> -->
        </ion-item>
      </div>
      <div class="resultContainer">
        <ion-list *ngIf="type === 'comment'">
          <form [formGroup]="form">
            <ion-radio-group formControlName="value" (ngModelChange)="dataSelected()">
              <ion-item *ngFor="let item of data" [ngClass]="{'selected-item': form.get('value')?.value === item}">
                <ion-radio [value]="item" label-placement="start">
                  {{ item.name || item.short_description || item }}
                </ion-radio>
              </ion-item>
            </ion-radio-group>
          </form>
        </ion-list>
        <ion-list
          *ngIf="type === 'surgeon' || type === 'operating_room' || type === 'procedure' || type === 'next_to_surgery'">
          <form [formGroup]="form">
            <ion-radio-group formControlName="value" (ngModelChange)="dataSelected()">
              <ion-item [ngClass]="{'selected-item': form.controls['value'].value === null}">
                <ion-radio [value]="" label-placement="start">{{type === 'surgeon' ? ('searchable.clear' | translate) : ('searchable.toFollow' | translate)}}</ion-radio>
              </ion-item>
              <ion-item *ngFor="let item of data;" [ngClass]="{'selected-item': form.controls['value'].value === item}">
                <ion-radio [value]="item" label-placement="start">
                  {{ type === 'surgeon' ? item.full_name : item.name }}
                </ion-radio>
              </ion-item>
            </ion-radio-group>
          </form>
        </ion-list>
        <ion-list *ngIf="type === 'time'">
          <form [formGroup]="form">
            <ion-radio-group formControlName="value" (ngModelChange)="dataSelected()">
              <ion-item *ngFor="let item of data;" [ngClass]="{'selected-item': form.controls['value'].value === item.value}">
                <ion-radio [value]="item.value" label-placement="start">
                  {{item.display}}
                </ion-radio>
              </ion-item>
            </ion-radio-group>
          </form>
        </ion-list>
        <ion-list *ngIf="type === 'recovery_room'">
          <form [formGroup]="form">
            <ion-radio-group formControlName="value" (ngModelChange)="dataSelected()">
              <ion-item *ngFor="let item of data;" [ngClass]="{'selected-item': form.controls['value'].value === item}">
                <ion-radio [value]="item" label-placement="start">
                  {{item}}
                </ion-radio>
              </ion-item>
            </ion-radio-group>
          </form>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div class="d-flex justify-content-center">

          <div  class="w-100 mx-4 classButton" size="large"></div>

          <ion-button color="danger" class="w-100 mx-4 classButton" size="large" (click)="closeModal()">
            <span class="btn-label-white">{{ 'searchable.cancel' | translate }}</span>
          </ion-button>

          <ion-button color="primary" class="w-100 mx-4 classButton primary-action-button" size="large" (click)="update()">
            <span class="btn-label-white">{{ 'searchable.confirm' | translate }}</span>
          </ion-button>

          <div class="w-100 mx-4 classButton" size="large"></div>

        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
